#game {
    display: grid;
    grid-template-columns: repeat(12, 24px);
    grid-template-rows: repeat(12, 24px);
    gap: 1px;
    margin-top:20%;
}
.cell{
    width: 35px;
    height: 35px;
    background:#2d2d2d;
}
.wall{
    background:#666;
}